@import "styles/include";

.challenges-container {
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: -25px;
    padding: 0 24px 24px;
}

@media (max-width: 900px) {
  .challenges-container {
    background-color: #f4f5f6;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0;
}
}
