@import '../../styles/includes';

.pill {
  height: 17px;
  width: fit-content;
  background-color: $dark-green;
  padding: 2px 8px;
  @include roboto;
  font-size: 12px;
  color: $white;
  margin-top: 18px;
  margin-left: 80px;
  border-radius: 3px;
}
