@import "styles/include";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    .submission-modal-header {
      display: grid;

      .modal-header-1 {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #e3e2e2;
        padding: 20px 15px 35px 15px;
        background-color: #f6f6f6;
        border-radius: 10px 10px 0px 0px;

        .close-btn {
          background-color: #f6f6f6;
          border: none;
          outline: none;

          .cancel-svg {
            height: 15px;
            width: 15px;
          }
        }

        .submission-zip-wrapper {
          display: flex;
          justify-content: flex-start;

          .zip-svg {
            height: 35px;
            width: 35px;
            margin-right: 20px;
          }

          .submission-zip-text {
            @include font-barlow-condensed;
            font-size: larger;
            font-weight: 500;
            margin: auto;
            text-transform: uppercase;
          }
        }
      }

      .modal-header-2 {
        display: flex;
        justify-content: flex-start;
        background-color: #f6f6f6;
        border-bottom: 2px solid #e3e2e2;
        height: 70px;

        .unzip-file-btn {
          margin: 15px;
          padding: 11px 30px;
          border-radius: 25px;
          border: none;
          color: white;
          font-size: large;
          font-weight: 600;
          background-color: #458061;
          height: 40px;
        }

        .unzip-text {
          margin: auto 0px;
          color: #2A2A2A;
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }

    .submission-modal-body {
      margin: 15px;
      padding-left: 15px;
    }
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }