$white: #ffffff;
$gray: #A7B1C1;
$lighter-gray: #EBEBEB;
$light-gray: #F4F9FE;
$light-gray-10: #595959;
$light-gray-20: #A8A8A8;
$light-gray-30: #656565;
$light-gray-40: #616161;
$dark-gray: #2E4050;
$darker-gray: #293846;
$dark-gray-10: #324556;
$dark-gray-20: #c0c0c0;
$dark-gray-30: #525252;
$dark-gray-40: #959595;
$dark-gray-50: #808080;
$dark-gray-60: #F5F5F5;
$dark-gray-70: #474747;
$dark-gray-80: #E9E9E9;
$dark-gray-90: #2A2A2A;

$orange: #FB7D21;
$teal: #18AA8D;
$green: #60C602;
$dark-green: #4CC94C;
$red: #D0021B;
$yellow: #FCD617;

$light-blue: #27ACE8;
$blue: #337AB7;
$dark-blue-80: #0681FF;
$dark-blue-100: #0972EB;
$dark-blue-110: #006ad7;

$link-color: #006DEA;

$text-color: #151516;
$light-text: #6B6B6B;

$white-text: #F3F3F4;

$light-bg: #FAFAFB;
$button-blue: #0881FF;

$inactive: #D8D8D8;
