@import "styles/include";

.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 72px;
  padding: 16px 0;
  border-bottom: 2px solid #d5d5d5;
}

.filter-dropdowns {
    display: flex;
    width: 470px;
    justify-content: space-between;

    .dropdowns-separator {
        border-left: 1px solid #e9e9e9;
        height: 45px;
        margin-top: 9px;
    }

    .filter-dropdown {
        width: 185px;
        border-radius: 10px;
        border: 1px solid #aaaaaa;

        .dropdown-legend {
            color: #b0b0b0;
        }

        .dropdown-select-div {
          display: flex;

          .dropdown-select {
            width: 185px;
            outline: none;
            font-size: medium;
            border: 0px;
            background-color: white;
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
          }

          /* For IE10 */
          .dropdown-select::-ms-expand {
            display: none;
          }

          .down-arrow {
            height: 20px;
            width: 20px;
            margin-left: -21px;
          }
        }
    }

    .mobile-filter-dropdown {
      display: none;
    }
}

.title {
    line-height: 26px;
    margin: 0 32px 0 0;
    padding: 12px 0;
    color: #808080;
    font-size: larger;
    font-weight: 400;
}

@media (max-width: 900px) {
  .card-header {
    display: grid;
    justify-content: stretch;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: -25px;
    padding: 0 24px 12px 12px;
    margin-bottom: 30px;


    .filter-dropdowns {
      display: grid;
      width: auto;
      justify-content: stretch;

      .filter-dropdown {
        display: none;
      }

      .dropdowns-separator {
        display: none;
      }

      .mobile-filter-dropdown {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .mobile-dropdown-label {
          font-size: larger;
          margin-top: 6px;
        }

        .mobile-dropdown-wrapper {
          display: flex;

          .mobile-dropdown-select {
            outline: none;
            width: 200px;
            font-size: medium;
            background-color: white;
            border: 1px solid #e2e2e2;
            border-radius: 29px;
            padding: 10px 10px 10px 10px;
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
          }

          /* For IE10 */
          .dropdown-select::-ms-expand {
            display: none;
          }

          .down-arrow {
            height: 20px;
            width: 20px;
            margin-left: -33px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .title {
    margin-right: 0;
  }
}
