@import "styles/include";

.challenge-progress-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 38px 0px;
    border-radius: 8px;
    padding: 0px 0px 0px 26px;
}

.purse-stats-wrapper {
    display: grid;

    .purse-wrapper {
        display: flex;

        .purse-value {
            display: grid;
            margin: 17px 17px 18px 0px;
            border-bottom: 2px solid gray;
            padding-bottom: 4px;

            .purse-rank {
                text-align: right;
                color: #555555;
                font-size: 14px;
            }

            .purse-money {
                font-size: x-large;
                font-weight: 500;
                font-family: 'Barlow Condensed';
            }
        }
    }

    .stats-wrapper {
        display: grid;
        margin: 15px 0px;
        font-size: 14px;
    }
}

.progress-view-wrapper {
    display: flex;
    justify-content: space-between;

    .view-challenge-wrapper {
        display: grid;
        background-color: #E9E9E9;
        padding: 16px;

        .view-challenge {
            height: 30px;
            border-radius: 16px;
            border: 0px;
            background-color: #137860;
            color: white;
            padding: 0px 19px;
            font-weight: 600;
            margin: auto;
            outline: none;
            cursor: pointer;
            font-family: 'Roboto';
        }
    }

}

@media (max-width: 1550px) {
    .progress-view-wrapper {
        display: grid;
        justify-content: unset;

        .view-challenge-wrapper {
            margin-top: 20px;
            background-color: white;
        }
    }
}

@media (max-width: 1400px) {
    .challenge-progress-container {
        display: grid;
        padding: 0px 0px 0px 20px;
        justify-content: unset;
    }

    .purse-stats-wrapper {
        display: flex;
        justify-content: flex-start;

        .purse-wrapper {
            margin-right: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .purse-stats-wrapper {
        display: grid;
        justify-content: flex-start;

        .stats-wrapper {
            margin-top: 0px;
        }
    }

    .progress-view-wrapper {
        .view-challenge-wrapper {
            background-color: #E9E9E9;
            margin-left: -20px;
        }
    }
}
