@import "styles/include";

.progress-bar-wrapper {
    width: 830px;
    margin-right: 50px;
    margin-top: 70px;

    .progress-bar {
        width: 700px;
        background-color: #ebebeb;
        border-radius: 5px;
        margin: auto;
        height: 10px;

        .dynamic-bar {
            background-color: #67ba8a;
            height: 10px;
            border-radius: 5px;
        }

        .status-detail-wrapper {
            .status-detail {
                display: grid;
                margin-top: -53px;
                width: 300px;

                .status-text {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #dcdce0;
                    padding: 4px 14px;
                    box-shadow: -1px 2px 7px 0px #dcdce0;

                    .detail-header {
                        color: #949494;
                    }

                    .detail-value {
                        font-weight: 500;
                    }
                }

                .status-marker {                
                    border-left: 1px dashed black;
                    height: 12px;
                }
            }
        }
    }

    .phase-details {
        width: 830px;
        display: flex;
        justify-content: space-between;

        .phase {
            display: grid;
            width: 130px;
            margin-top: -14px;

            .phase-circle {
                border-radius: 25px;
                height: 20px;
                width: 20px;
                background-color: #ebebeb;
                margin: auto;
                margin-bottom: 10px;
            }

            .phase-name {
                margin: auto;
                white-space: nowrap;
            }

            .phase-name-dull {
                margin: auto;
                white-space: nowrap;
                color: #808080;
            }

            .phase-deadline {
                margin: auto;
            }

            .phase-deadline-dull {
                margin: auto;
                color: #808080;
            }
        }
    }

    .mobile-progress-details {
        display: none;
    }
}

@media (max-width: 1700px) {
    .progress-bar-wrapper {
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    .progress-bar-wrapper {
        display: grid;
        width: auto;
        margin-top: 20px;

        .progress-bar {
            display: none;
        }

        .phase-details {
            display: none;
        }

        .mobile-progress-details {
            display: grid;
            margin-right: 20px;

            .phase-detail {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .circle-name-wrapper {
                    display: flex;
                    justify-content: flex-start;

                    .phase-circle {
                        border-radius: 25px;
                        height: 20px;
                        width: 20px;
                        background-color: #ebebeb;
                        margin: auto;
                    }

                    .phase-name {
                        margin: auto;
                        margin-left: 15px;
                    }

                    .phase-name-dull {
                        margin: auto;
                        margin-left: 15px;
                        color: #808080;
                    }
                }

                .deadline-phase {
                    .phase-deadline {
                        margin: auto;
                    }

                    .phase-deadline-dull {
                        margin: auto;
                        color: #808080;
                    }
                }
            }
        }
    }
}
